@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    background-color: #f5f5f5;
}

header {
    background-image: linear-gradient(to right,#BD632F, #D8973C );
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 20px;

}

header h1 {
    padding: 40px 0;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.514);
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

h2 {
    margin: 5px;
    font-size: 2em;
}

section {
    padding: 10px;
    line-height: 1.8em;
}

section.normal {
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 10px;
}

section.normal p {
    margin-bottom: 25px;
}


section.imagem {
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 40px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 13px rgba(0,0,0,0.5);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: #273e4788;
    border-radius: 10px;
    padding: 25px;
    max-width: 420px;
    line-height: 1.8em;
    font-size: 1.05em;
}

section#img01 {
    background-image: url('imagens/01.jpg');
}

section#img02 {
    background-image: url('imagens/02.jpg');
    background-position: left bottom;
}

footer {
    background-image: linear-gradient(to right,#BD632F, #D8973C );
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-size: 0.9em;
}
